{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>Союзники Правила использования</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/agreement.css' %}">
{% endblock style %}
{% block reclama %}
{% endblock reclama %}
{% block agreement %}
<div id="agreement">
    <div class="header">
        <h2>Публичный договор</h2>
    </div>
    <p>В соответствии со ст.396 Гражданского Кодекса Республики Беларусь публичный договор является одним из видов договоров, в соответствии с которым одна сторона принимает на себя обязательство по оказанию услуг в отношении неопределенного круга лиц, обратившихся с запросом на предоставление данных услуг.</p>
    <p>Публичный договор не требует оформления на бумаге и его последующего подписания сторонами, обладает юридической силой в силу совершения сторонами определенных действий указывающих на их волеизъявление вступить в договорные отношения.</p>
    <p>В частности, публикация (размещение) текста публичного договора на официальном сайте компании является публичным предложением (офертой) компании, адресованным широкому кругу лиц с целью оказания определенных видов услуг (п.2. ст.407 Гражданского Кодекса Республики Беларусь).</p>
    <p>Фактом, подтверждающим заключение публичного договора со стороны потребителя услуг, является оформление им заявки на предоставление услуг и их последующая оплата (п.3 ст.408 Гражданского Кодекса Республики Беларусь).</p>
    <p>Публичный договор, совершенный в вышеописанном порядке, считается заключенным в простой письменной форме (п.2, п.3 ст.404 и п.3 ст.408 Гражданского Кодекса Республики Беларусь), и соответственно не требует оформления на бумаге и обладает полной юридической силой.</p>
    <p>Настоящий Публичный договор (далее именуемый по тексту «Договор») определяет порядок предоставления услуг размещения на интернет – портале Союзники.ру, а также взаимные права, обязанности и порядок взаимоотношений между Обществом с Ограниченной Ответственностью « ВипТехТрансГрупп», именуемым в дальнейшем «Исполнитель», действующем на основании устава, и потребителем услуг, именуемым в дальнейшем «Пользователь», принявшим (акцептовавшим) публичное предложение (оферту) о заключении настоящего Договора, посредством регистрации. Регистрация пользователя на Сайте осуществляется путем заполнения регистрационной формы и нажатия кнопки «Зарегистрироваться», размещенной на этой же странице Сайта. </p>
    <p>Настоящий Договор разработан в соответствии с требованиями законодательства РБ и направлено на регулирование взаимоотношений между Администрацией и Пользователем, определение их основных прав, обязанностей и ответственности.</p>
    <ol type="I">
        <li>ОПРЕДЕЛЕНИЯ, ИСПОЛЬЗУЕМЫЕ В НАСТОЯЩЕМ ДОГОВОРЕ
            <ol>
                <li>В тексте настоящего договора оферты используются следующие термины и определения:</li>
                <li>База данных Сайта - организованная в соответствии с определенными правилами и поддерживаемая в памяти компьютера совокупность данных, используемая для удовлетворения информационных потребностей Пользователей.</li>
                <li>Пользователь  -     юридическое лицо или физическое лицо прошедший процедуру регистрации на Сайте, имеющий свои личные страницы (Карточку и Кабинет), размещенные в базе данных на Сайте.</li> 
                <li>Юридическое лицо- коммерческий субъект (“субъект хозяйствования”), юридическое лицо либо физическое лицо-предприниматель, осуществляющие коммерческую деятельность с использованием Сайта и/или Сервисов.</li>
                <li>Кабинет Пользователя - совокупность защищенных страниц на Cайте, создаваемых при регистрации Пользователя, обладающая собственной структурой, определенным набором функций и сфер персонализированного применения. При помощи Кабинета Пользователь управляет доступными Услугами и собственной информацией, размещаемой на Сайте. Доступ к Кабинету осуществляется Пользователем посредством ввода своих Учетных данных.</li>
                <li>Карточка Пользователя - страница на Сайте с контактной и иной информацией о Пользователе, доступная всем Посетителям Сайта.</li>
                <li>Клон - Пользователь, который зарегистрировался на Сайте более одного раза под другим или таким же названием. Администрация определяет Клона по имеющейся у него технической и другой информации, свидетельствующей о том, что одно и то же лицо выступает на Сайте от лица разных Пользователей.</li>
                <li>Модерация - просмотр модератором или администратором размещаемой Пользователем на Сайте (или планируемой к размещению - Премодерация) информации на предмет ее соответствия положениям Договора, а также исправление или удаление информации с Сайта с уведомлением Пользователя через Тикет или без такового.</li> 
                <li>Паспорт надежности – это количественная система рейтинговая, являющаяся косвенным отражением добросовестности, деловой репутации и надежности соответствующего Пользователя.</li>
                <li>Сайт– результат интеллектуальной деятельности, представляющий собой составное произведение, расположенное в информационно-телекоммуникационной сети под определенным сетевым адресом и включающее в себя программы для ЭВМ, обеспечивающие его функционирование, графическое решение (дизайн), контент (текстовую информацию), размещенный на нем, а также иные результаты интеллектуальной деятельности, в частности фотографические изображения, видеозаписи и др. Под сайтом в тексте настоящего Договора понимается Сайт, расположенный в сети Интернет под доменным именем (адресом) – www.Sauzniki.ru, а также его “зеркала”.</li>
                <li>Связанные фирмы - дополнительные фирмы (юридические лица, ИП и т.п.) Пользователя, которые Пользователь использует в своей хозяйственной деятельности.</li>
                <li>Тикет - последовательность вопросов и ответов по определенной теме между Администрацией и Посетителем сайта, передаваемая через систему внутренней электронной связи Сайта.</li>
                <li>Услуги – услуги, предоставляемые Исполнителем  Пользователю после входа в систему с использованием своей Учетной записи, определяемые в соответствии с положениями настоящего Договора, Прейскуранта, а также функциональными и техническими возможностями Сайта/ программы.</li>
                <li>Учетные данные Пользователя - уникальное имя Пользователя: логин и пароль для входа на Сайт/Программу, указываемые Пользователем при регистрации на Сайте, а также любая информация о Пользователе, размещаемая им на Сайте.</li>
            </ol>
        </li>
        <li>Предмет договора
            <ol>
                <li>Администрация предоставляет Пользователю право пользования сайтом, в том числе:
                    <ol type="A">
                        <li>право чтения информации, размещенной на сайте в открытом доступе;</li> 
                        <li>право пользования бесплатным сервисом, имеющимся на сайте; </li>
                        <li>право на осуществление поиска информации, имеющейся на сайте;</li>
                        <li>право пользования иными услугами, за исключением услуг, доступ к которым осуществляется за плату после заключения отдельного договора об оказании услуг.</li>
                    </ol>
                </li> 
                <li>Администрация оказывает Пользователю Услуги путем предоставления:
                    <ol type="A">
                        <li>доступа к Базам данных Сайта;</li>
                        <li>возможности осуществлять публикации информации на Сайте;</li>
                        <li>возможности просмотра информации на Сайте;</li>
                        <li>иных услуг, определяемых на основании настоящего Договора, Прейскуранта, функциональных и технических возможностей Сайта.</li>
                    </ol>
                </li>
                <li>Настоящий Договор становится доступным Пользователю при входе на Сайт. Использование Сайта, любых Сервисов и регистрация учетной записи означает подтверждение согласия Пользователя со всеми условиями настоящего Договора и безоговорочного их принятия.</li>
                <li>Исполнитель оставляет за собой право самостоятельно изменять условия настоящего Договора и всех его неотъемлемых частей без согласования с Пользователем, но с уведомлением последнего посредством размещения на Сайте новой редакции Договора или какой-либо его неотъемлемой части, подвергшейся изменениям. Пользователь обязуется самостоятельно осуществлять контроль  за изменениями в Договоре. При несоблюдении данной обязанности ответственность, а также все негативные последствия возлагаются исключительно на самого Пользователя. Новая редакция Договора и/или какой-либо его неотъемлемой части вступает в силу с момента опубликования на Сайте, если иной срок вступления изменений в силу не определен Исполнителем при их опубликовании. Действующая редакция Договора и всех приложений к нему находится на Сайте в публичном доступе по адресу: <a href="https://soyzniki.ru/licens/agreement/">https://soyzniki.ru/licens/agreement/</li>
                <li>В случае несогласия с новой редакцией Договора Пользователь должен прекратить пользоваться Сайтом, а также письменно (заказным письмом) или посредством тикетов уведомить Исполнителя об отказе от пользования Сайтом. В случае, если Пользователь не уведомил Исполнителя о своем несогласии, считается, что Пользователь согласился с новой редакцией Договора.</li>
                <li>Принимая условия данного Договора, Пользователь тем самым дает свое согласие на получение от Администрации информационных, рекламных и иных видов рассылок посредством тикетов, SMS на номер телефона Пользователя, а также на адрес его электронной почты и обязуется не предъявлять Администрации каких-либо претензий и требований, связанных с осуществлением таких рассылок.</li>
            </ol>
        </li>
        <li>ПРАВА И ОБЯЗАННОСТИ СТОРОН
            <ol>
                <li>Исполнитель обязуется.
                    <ol type="A">
                        <li>Оказывать Пользователю Услуги в объеме, на условиях, установленных в настоящем Договоре и приложениях к нему, в соответствии с видом таких Услуг;</li>
                        <li>Обеспечивать конфиденциальность информации, предоставленной Потребителем, за исключением случаев, когда предоставление доступа к такой информации для третьих лиц является необходимым условием оказания Услуг, либо является обязательным в силу требований действующего законодательства Республики Беларусь.</li>
                        <li>Оказывать Потребителю в рабочее время (с 08-00 до 20-00, за исключением выходных дней и официальных государственных праздников), консультации по телефону и/или электронной почте по вопросам, возникающим у Потребителя в связи с оказанием ему Услуг;</li>
                    </ol>
                </li>
                <li>Исполнитель имеет право:
                    <ol type="A">
                        <li>По своему усмотрению в одностороннем порядке изменять стоимость оказания Услуг с обязательным уведомлением об этом Пользователя посредством размещения соответствующей информации на Сайте путем внесения изменений в Прейскурант.</li>
                        <li>В случае нарушения Пользователем условий Договора:
                            <ul style="list-style-type: disc">
                                <li>Отказаться от исполнения настоящего Договора;</li>
                                <li>Заблокировать доступ Пользователя к Учетным данным Пользователя;</li>
                                <li>Аннулировать Карточку и Кабинет Пользователя;</li>
                                <li>Приостановить оказание Услуг Пользователю на определенный срок;</li> 
                                <li>Ограничить оказание Пользователю соответствующего вида Услуг на определенный срок или без определения срока;</li>
                                <li>Осуществлять Модерацию сайта;</li>
                                <li>Вносить изменения в техническое оснащение и компьютерный код Сайта, а именно устанавливать дополнительные приложения, инструменты и т.д;</li>
                                <li>В любой момент потребовать от Пользователя подтверждения данных, указанных при регистрации и запросить в связи с этим подтверждающие документы. В случае предоставления Пользователем недостоверной или неполной информации, Администрация вправе применить к такому Пользователю меры, указанные настоящем Договоре;</li> 
                                <li>Производить сбор, хранение, систематизацию и использование информации о деятельности Пользователя на Сайте, в частности, статистику посещений Пользователем Сайта, оказанных ему Услуг и т.д.;</li> 
                                <li>Без согласия Пользователя передавать данные о Пользователе сайта:
                                    <ul style="list-style-type: circle">
                                        <li>Государственным органам, в т.ч. органам дознания и следствия, и органам местного самоуправления по их мотивированному запросу;</li>
                                        <li>На основании судебного акта;</li> 
                                        <li>Третьим лицам и общественным организациям по их мотивированному запросу в случае нарушения или предполагаемого нарушения их прав;</li> 
                                        <li>Рейтинговым агентствам для формирования различных рейтингов;</li> 
                                        <li>В иных предусмотренных законодательством РБ случаях.</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Отказывать Потребителю в размещении или прекратить размещение его Данных на информационно-технических ресурсах Исполнителя, если сочтет, что характер или содержание Данных Потребителя нарушает действующее законодательство Республики Беларусь, носит оскорбительный характер, нарушает права и законные интересы других лиц либо противоречит настоящему Договору;</li>
                        <li>Не принимать к рассмотрению претензии Потребителя, предъявленные с пропуском сроков, в течение которых такие претензии могут быть предъявлены (п.4.4.6 настоящего Договора);</li> 
                        <li>Планово либо внепланово изменять технические характеристики и параметры программно-технических средств, задействованных в оказании Услуг, в случае, если такие изменения направлены на поддержку работоспособности программно-технических средств либо на улучшение их функционирования, в том числе с временным (до двух дней) приостановлением оказания Услуг.</li> 
                        <li>Производить профилактические работы в программно-аппаратном комплексе Сайта с временным приостановлением работы Сайта (по возможности в ночное время), максимально сокращая время неработоспособности Сайта, уведомив о профилактических работах Пользователя, если это возможно технически.</li>
                    </ol>
                </li> 
                <li>Пользователь обязуется:
                    <ol type="A">
                        <li>Внимательно ознакомиться с условиями настоящего договора;</li>   
                        <li>Соблюдать условия настоящего Договора, а также оплачивать Исполнителю Услуги в порядке, размерах и в сроки, определенные настоящим Договором.</li>
                        <li>Предоставить достоверные сведения, необходимые для регистрации, создания счета, дальнейшего использования портала Исполнителя, в запрашиваемом объеме;</li>
                        <li>Не осуществлять деятельности в рамках оказываемых Услуг в той или иной мере, направленной на:
                            <ul style="list-style-type: disc">
                                <li>Подрыв сетевой безопасности;</li>
                                <li>Размещение и распространение информации, содержание которой противоречит действующему законодательству Республики Беларусь;</li>
                            </ul>
                        </li>
                        <li>Обеспечивать сохранность и конфиденциальность полученной от Исполнителя служебной информации (ссылки, имена и пароли доступа, номера мобильных телефонов и др.);</li>
                        <li>При наличии претензий по оказанным Исполнителем Услугам письменно уведомить об этом Исполнителя в течение семи календарных дней с момента, когда Потребителю стало известно или должно было стать известным о неисполнении или ненадлежащем исполнении Исполнителем принятых на себя обязательств по настоящему Договору.</li>
                        <li>Пользователю запрещается продавать или перепродавать право доступа к Союзникам.ру, распространять (передавать данные портала третьим лицам, публиковать, размещать на интернет-сайтах, осуществлять рассылку по электронной почте, копировать с целью передачи третьим лицам на возмездной и/или безвозмездной основе на любой период времени) в коммерческих или некоммерческих целях предоставляемую Исполнителем Пользователю информацию и материалы в рамках настоящего договора, создавать на ее основе информационные продукты, а также использовать эту информацию каким-либо иным образом, кроме личного использования. Все вышеперечисленные запреты и ограничения относятся и к мобильным приложениям.</li>
                    </ol>
                </li>
                <li>Пользователь имеет право:
                    <ol type="A">
                        <li>Требовать от Исполнителя надлежащего оказания Услуг;</li>
                        <li>Получать у Исполнителя в рабочее время (с 8-00 до 20-00, за исключением выходных дней и официальных государственных праздников), консультации по телефону и/или электронной почте по вопросам, возникающим в связи с оказанием Услуг;</li>
                        <li>Расторгнуть настоящий Договор в случае:
                            <ul style="list-style-type: disc;">
                                <li>Невыполнения либо ненадлежащего выполнения Исполнителем своих обязательств по оказанию Услуг в рамках настоящего Договора;</li>
                                <li>Несогласия с вносимыми Исполнителем изменениями и/или дополнениями в настоящий Договор;</li>
                                <li>Использовать для своих, в том числе коммерческих, целей информацию, полученную на сайте;</li>
                                <li>Пользоваться бесплатным сервисом, который имеется на сайте;</li>
                                <li>Пользоваться всеми или частью платных услуг, оплатив их;</li>
                            <li>Высказывать свое мнение на форумах сайта и размещать свою информацию.</li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>Учетная запись
            <ol>
                <li>Осуществляя действия по регистрации учетной записи, Пользователь гарантирует, что он в должной мере правоспособен, полностью дееспособен и/или, в соответствующих случаях, уполномочен Фирмой.</li>
                <li>Пользователь обязуется предоставлять в регистрационных данных достоверную информацию: 
                    <ol type="A">
                        <li>О фирме, в том числе: наименование, юридический и почтовый адреса, регистрационные (идентификационный, налоговый) кода (номера), телефонный номер, адрес электронной почты, адрес веб-сайта при наличии, иные контактные данные, а также данные об осуществлении предпринимательской деятельности: данные о нахождении физического лица-предпринимателя в процессе прекращения предпринимательской деятельности и данные о нахождении юридического лица в процессе прекращения;</li>
                        <li>О физическом лице, не субъекте хозяйственной деятельности, в том числе: фамилия, имя, отчество, идентификационный код, адрес регистрации, контактные телефоны;</li>
                        <li>Постоянно поддерживать предоставляемую информацию в актуальном состоянии.</li>
                    </ol>
                </li>
                <li>Пользователь несет ответственность и самостоятельно принимает меры для обеспечения безопасности своей учетной записи на Сайте (включая контроль за связкой логин-пароль, адресом электронной почты и т.д.). Пользователь несет полную ответственность за все действия, совершенные с использованием учетной записи Пользователя. Пользователь обязуется незамедлительно уведомить Исполнителя  о любых случаях несанкционированного использования учетной записи Пользователя третьими лицами. Пользователь обязуется не использовать в регистрационных данных информацию, могущую ввести в заблуждение, в частности, но не исключительно: обозначения, воспроизводящие торговые марки и/или коммерческие наименования третьих лиц либо сходные с ними до степени смешения; данные, дублирующие данные любой другой учетной записи.</li>
                <li>Пользователь обязуется не регистрировать и не использовать одновременно более одной учетной записи.</li>
                <li>Физическое лицо, не субъект хозяйственной деятельности, обязуется использовать учетную запись исключительно для удовлетворения собственных нужд.</li>
                <li>Исполнитель  оставляет за собой право запрашивать, как по индивидуальному усмотрению, так и в рамках системы верификации (аттестации), подтверждения предоставленных Пользователем данных, и принимать решения относительно действительности учетной записи Пользователя на основании результатов таких запросов.</li>
                <li>Исполнитель  оставляет за собой право блокировать и/или отменить (удалить) регистрацию учетной записи Пользователя, в следующих случаях:
                    <ol type="A">
                        <li>Нарушение приведенных в настоящем разделе условий регистрации и/или использования учетной записи;</li>
                        <li>Нарушение правил размещения (сообщения) и/или иного использования информации;</li>
                        <li>Успешные либо неуспешные попытки обхода технических средств защиты информации, используемых «Союзниками» при предоставлении Сервисов, различного рода атаки, направленные против Сайта, с умышленным использованием возможных ошибок в программном обеспесении Сайта.</li>
                    </ol>
                </li>
                <li>Исполнитель  оставляет за собой право вести историю изменений Пользователем любых регистрационных данных для учетной записи, с тем же уровнем публичности доступа к истории изменений, что и к самим данным.</li>
                <li>В силу настоящего Договора, указывая свои персональные данные на Сайте, Пользователь безусловно соглашается:
                    <ol type="A">
                        <li>С предоставлением персональных данных неограниченному кругу лиц при помощи Сайта;</li> 
                        <li>С обработкой персональных данных Исполнителем;</li> 
                        <li>С использованием персональных данных в рейтинге;</li> 
                        <li>С иными действиями Исполнителем в отношении таких данных в связи с функционированием Сайта.</li>
                    </ol>
                </li> 
                <li>Размещая на Сайте свои персональные данные, Пользователь подтверждает, что делает это добровольно, а также подтверждает, что он добровольно предоставляет Исполнителю свои данные для обработки. Если Пользователь не согласен с вышеуказанными условиями, то он не должен регистрироваться на Сайте или должен немедленно прекратить пользоваться Сайтом.</li>
            </ol>
        </li>
        <li>Интеллектуальная собственность
            <ol>
                <li>ООО «ВипТехТрансГрупп»  является обладателем исключительных прав интеллектуальной собственности на базы данных, доступ к которым предоставляется Пользователю в рамках Сервисов. Пользователю предоставляется неисключительное право использовать вышеуказанные результаты интеллектуальной деятельности, права на которые принадлежат ООО «ВипТехТрансГрупп», исключительно для удовлетворения своих нужд. Все права на использование (способы использования) компиляций данных, не указанные прямо в настоящем Договоре как предоставленные Пользователю, считаются не предоставленными Пользователю и сохраняются за «Союзникми».</li>
                <li>Дизайн и программный код Сайта, информационное, графическое, аудио-, видео-, фото- и иное наполнение Сайта являются интеллектуальной собственностью ООО «ВипТехТрансГрупп» и охраняются в соответствии законодательством РБ. Никто не имеет права воспроизводить, копировать, модифицировать, рассылать, передавать или распространять каким-либо способом размещенные материалы.</li>
                <li>Пользователь понимает, что подобные действия описанные в п.5.1. и п.5.2. настоящего Договора могут также быть квалифицированы как мошенничество и таким образом являться уголовно наказуемыми.</li>
            </ol>
        </li>
        <li>Ответственность сторон.
            <ol>
                <li>За невыполнение или ненадлежащее выполнение обязательств по настоящему договору Стороны несут ответственность в соответствии с действующим законодательством Республики Беларусь и настоящим договором.</li>
                <li>Исполнитель не несет ответственности за невозможность надлежащего оказания услуги Пользователю по каким-либо не зависящим от Исполнителя причинам, включая нарушение работы линий связи, неисправность оборудования, невыполнение обязательств поставщиков тех или иных услуг и т.п., а также вследствие виновных действий пользователя.</li>
                <li>Исполнитель ни при каких обстоятельствах не несет ответственности по настоящему договору за какие-либо действия и (или) бездействие, являющиеся прямым или косвенным результатом действий (бездействия) третьих лиц.</li>
                <li>Пользователь несет полную ответственность за достоверность и полноту сведений, указанных им при регистрации, создании счета, дальнейшем использовании портала Исполнителя.</li>
                <li>Исполнитель  не несет ответственности за убытки, причиненные Пользователю в результате разглашения третьим лицам Учетных данных Пользователя, произошедшего не по вине Исполнителя. Если любое лицо помимо Пользователя авторизуется на Сайте, используя Учетные данные Пользователя, то все действия, совершенные таким лицом, будут считаться совершенными этим Пользователем. Пользователь несет ответственность за все действия, совершенные им на Сайте, а также за все действия, совершенные на Сайте любыми иными лицами с использованием Учетных данных Пользователя.</li>
                <li>Исполнитель не несет ответственности за убытки, причиненные Пользователю в результате сообщения другим Пользователям недостоверной информации, а также причиненные действиями (бездействием) другого Пользователя. Исполнитель не гарантирует, что информация, содержащаяся в Карточке Пользователя, является достоверной и полной, так как вносится самим Пользователем.</li>
                <li>Пользователь несет ответственность в полном объеме за любые действия, вследствие которых Исполнитель  и/или третьим лицам причинен ущерб.</li>
                <li>За нарушение прочих обязательств по Договору Стороны несут ответственность в соответствии с законодательством РБ. При этом в любом случае ответственность Исполнителя перед Пользователем в случае требования возмещения убытков ограничена размером стоимости Услуг оказываемых на возмездной основе, оплата которых произведена Пользователем.</li>
                <li>Исполнитель прилагает все возможные усилия для обеспечения нормальной работоспособности Сайта, однако не несет ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору, а также возможные убытки, возникшие в результате:
                    <ol type="A">
                        <li>Неправомерных действий Пользователей, направленных на нарушения информационной безопасности или нормального функционирования Сайта.</li>
                        <li>Сбоев в работе Сайта, вызванных ошибками в коде, компьютерными вирусами и иными посторонними фрагментами кода в программном обеспечении Сайта.</li> 
                        <li>Отсутствия (невозможности установления, прекращения и пр.) Интернет-соединений между сервером Пользователя и сервером Сайта.</li> 
                        <li>Проведения государственными и муниципальными органами, а также иными организациями мероприятий в рамках системы оперативно-розыскных мероприятий.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>Прочие условия.
            <ol>
                <li>В случае если Пользователем по настоящему договору выступают физические лица, то к правоотношениям между Пользователем и Исполнителем применяется законодательство Республики Беларусь о защите прав потребителей.</li>
                <li>Стороны признают юридическую силу документов, переданных в форме факсимильных сообщений или посредством сети Интернет.</li> 
                <li>В своих отношениях стороны руководствуются действующим законодательством Республики Беларусь и настоящим договором.</li>
                <li>Все неурегулированные разногласия по настоящему договору решаются путем переговоров, а в случае не достижения согласия — в судебном порядке в соответствии с законодательством РБ.</li>
                <li>Стороны безоговорочно соглашаются с тем, что вся переписка, извещения и уведомления, полученные на адреса электронной почты, указанные в Карточки Пользователя, считаются доставленными.</li>
                <li>Стороны обязаны своевременно проверять корреспонденцию, поступающую на их адреса электронной почты.</li>
                <li>Все риски, связанные с наступлением неблагоприятных последствий вследствие несоблюдения требований  настоящего Договора, несет Сторона, допустившая такое нарушение.</li>
            </ol>
        </li>
        <li>Форс-мажор
            <ol>
                <li>В случае возникновения обстоятельств непреодолимой силы, к которым относятся стихийные бедствия, аварии, пожары, массовые беспорядки, забастовки, военные действия, противоправные действия третьих лиц, вступление в силу нормативных правовых актов уполномоченных органов государственной власти и управления, прямо или косвенно запрещающих указанные в настоящем договоре виды деятельности, препятствующие осуществлению Исполнителем и (или) Пользователем своих обязательств по настоящему договору, и иных обстоятельств, не зависящих от волеизъявления Исполнителя и Пользователя, они освобождаются от ответственности за неисполнение или ненадлежащее исполнение взятых на себя обязательств на период действия таких обстоятельств при условии уведомления другой стороны в течение 5 (пяти) календарных дней с момента возникновения подобных обстоятельств.</li>
            </ol>
        </li>
        <li>ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ
            <ol>
                <li>В случае возникновения споров между Пользователем и Исполнителем  по вопросам, связанным с исполнением Договора, Стороны примут все меры к их разрешению путем переговоров между собой и использования претензионного порядка.</li>
                <li>Претензионный порядок разрешения споров между сторонами обязателен. Претензии Пользователей принимаются и рассматриваются Исполнителем только в письменном виде.</li>
                <li>Для разрешения споров, возникших между Сторонами, применяется следующий претензионный порядок:
                    <ol type="A">
                        <li>Сторона, считающая, что ее права нарушены из-за действий Сайта, направляет в тикете претензию, содержащую суть предъявляемого требования, и его обоснование;</li>
                        <li>В случае, если сторонам не удалось разрешить спор посредством системы тикетов, Пользователь обязан направить письменную претензию по почте заказным письмом по месту нахождения Исполнителя;</li>
                        <li>Если ответ на письменную претензию не получен в течение 30 дней с момента получения заказного письма другой стороной, претензионный порядок считается соблюденным и сторона имеет право на обращение в суд.</li>
                        <li>Исполнитель  направляет ответ на письменную претензию также по почте заказным письмом. С момента получения письменного ответа на свою претензию, Пользователь обязан направить повторно письменную претензию по почте заказным письмом с учетом ответа на свою первоначальную претензию.</li>
                        <li>Исполнитель  имеет право рассмотреть повторную претензию в течение 30 дней с момента ее получения.</li>
                        <li>В случае, если в течение 45 дней Пользователь, направивший повторную претензию, не получит ответ, либо получит ответ, который не устроит Пользователя, либо не будут устранены причины, вызвавшие конфликтную ситуацию, Пользователь имеет право обратиться в суд по месту нахождения Исполнителя.</li>
                        <li>При не достижении согласия между Сторонами путем переговоров, спор, вытекающий из настоящего Договора, подлежит рассмотрению в Арбитражном суде, либо в суде общей юрисдикции по месту нахождения Исполнителя.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>Вступление Договора в силу и иные положения.
            <ol>
                <li>Договор вступает в силу для Пользователей сайта с момента публикации Договора на сайте, а для всех иных лиц, которые на момент публикации настоящего Договора еще не являются Пользователями Сайта, - с момента акцепта настоящей оферты Пользователем. Акцептом (безусловным принятием условий настоящего Договора) настоящей оферты считается осуществление Пользователем регистрации на Сайте путем заполнения регистрационной формы и выражения согласия с условиями Договора при нажатии кнопки «Зарегистрироваться», размещенной на странице Сайта с регистрационной формой.</li> 
                <li>Договор заключается на неопределенный срок и действует до момента удаления Учетных данных Пользователя.</li>
                <li>Настоящий Договор распространяет свое действие на Пользователей, осуществивших регистрацию до даты опубликования настоящего Договора на Сайте. Пользователь обязуется самостоятельно ознакомиться с условиями Договора. Если Пользователь не согласен с условиями настоящего Договора, то он должен немедленно отказаться от использования Сайта, в противном случае продолжение использования Пользователем Сайта означает согласие с условиями Договора.</li>
                <li>Направление корреспонденции, связанной с исполнением настоящего Договора может производиться средствами почтовой, факсимильной или электронной связи. Документы, переданные по факсу и по электронной почте, признаются действительными при условии наличия на них аппаратных отметок о дате и времени отправки, наименования организации/физического лица и номера, проставляемых факсимильным аппаратом, а подписи полномочных представителей Сторон в такой переписке имеют силу собственноручных. Данная корреспонденция, переданная посредством факсимильной и/или электронной (интернет) связи с печатями и подписями уполномоченных лиц, до обмена Сторонами оригиналами имеет такую же юридическую силу, как и оригиналы, которые при необходимости будут являться доказательствами в суде.</li>
                <li>Опубликованное в данный момент Договор имеет большую юридическую силу и отменяет действие предыдущих редакций Договора.</li>
            </ol>
        </li>
    </ol>
    {% if back %}
    <a class="big_button" href="{{ back }}">Вернуться</a>
    {% endif %}
</div>
{% endblock agreement %}