{% extends 'base.html' %}
{% block title %}
<title>Союзники Нет поддержки cookies</title>
{% endblock title %}
{% block redirect %}
{% endblock redirect %}
{% block top_bar %}
{% endblock top_bar %}
{% block cookies %}
<div id="cookies">
    <div class="header">
        <h3>Ошибка установки cookies</h3>
    </div>
    <p>Для работы сайта необходима возможность установки cookies</p>
    <style type="text/css">
        #cookies {
            margin-right: 10px;
        }
        @media all and (max-width: 900px){
            #cookies {
                margin-right: 0;
            } 
        }
    </style>
</div>
{% endblock cookies %}