{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>Союзники О проекте</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/description.css' %}">
{% endblock style %}
{% block agreement %}
<div id="description">
    <div class="header">
        <h2>О проекте</h2>
    </div>
    <div id="about_company">
        <p>Приветствуем на странице ресурса "Soyzniki.ru".</p>
        <p><img id="book" src="{% static 'project/images/book.jpg' %}">Благодарим вас, что проявили интерес к данному сервису. Изучив и проведя анализ проблем, возникающих в мире автотранспорта, грузоперевозок и путешествий мы решили создать данный сервис. Получайте и делитесь полезной информацией о ближайших СТО грузового и легкового транспорта, АЗС, гостиницах, пунктах придорожного сервиса и мн. другое в любой точке таможенного союза.</p>
        <p><img id="mobile" src="{% static 'project/images/mobile.jpg' %}">Для партнеров, Ресурс "Soyzniki.ru" может предложить бесплатный сервис по размещению информации о вашем бизнесе, как при помощи личного кабинета, так и спомощью наших сотрудников, которые в любое удобное время помогут вам. После регистрации вы получаете приятный бонус в качестве рекламы вашего бизнеса на сервисе.</p>
        <p>Принимайте прямое участие в жизни ресурса "Soyzniki.ru" и делитесь полезной информцией.</p>
    </div>
</div>
{% endblock agreement %}