{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>Союзники Смена пароля {{ user.name }} {{ user.family }}</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'user/css/user_edit_pass.css'%}">
{% endblock style %}
{% block user %}
<div id="user_pass">
    <div class="header">
        <h3>Именить пароль</h3>
    </div>
    <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.user_login }}
        {% if form.non_field_errors %}
        <div class="form_error">{{ form.non_field_errors }}</div>
        {% endif %}
        <ul>
            <li class="input">
                {% if form.old_password.errors %}
                <div class="input_error">{{ form.old_password.errors }}</div>
                {% endif %}
                <label for="old_password">{{ form.old_password.label }}</label>
                {{ form.old_password }}
            </li>
            <li class="input">
                {% if form.password.errors %}
                <div class="input_error">{{ form.password.errors }}</div>
                {% endif %}
                <label for="password">{{ form.password.label }}</label>
                {{ form.password }}
            </li>
            <li class="input">
                {% if form.password_repeat.errors %}
                <div class="input_error">{{ form.password_repeat.errors }}</div>
                {% endif %}
                <label for="password_repeat">{{ form.password_repeat.label }}</label>
                {{ form.password_repeat }}
            </li>
            <li>
                <input class="big_button" type="submit" name="submit" value="Сохранить">
            </li>
            <li>
                <a class="big_button" href="/user/{{ user.login }}/">Отмена</a>
            </li>
        </ul>
    </form>
</div>
{% endblock %}