{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>Союзники Администрирование</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'partner/css/partner_admin.css'%}">
{% endblock style %}
{% block partner %}
<div id="add_admin">
    <div class="header">
        <h3>{{ partner.name }}</h3>
    </div>
    <div id="admins">
        <ul>
            {% for admin in partner.user.all %}
            <li>
                <a class="big_button" href="/user/{{ admin.login }}/">
                    <img src="{% static 'user/images/user.png'%}">
                    <p>{{ admin.login }}</p>
                </a>
                <a class="block" title="Удалить" href="/partner/{{ partner.unp_unn }}/{{ admin.login }}/delete/">
                  x  
                </a>
                <p>{{ admin.name }} {{ admin.family }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="search_admin">
        <div class="header">
            <h3>Добавить администратора</h3>
        </div>
        <form action="" method="POST" autocomplete="off" id="form_login_search">
            {% csrf_token %}
            <p>Введите url пользователя (login)</p>
            <ul>
                <li class="input">
                    {% if form_login_search.login.errors %}
                    <div class="input_error">
                        {{ form_login_search.login.errors }}
                    </div>
                    {% endif %}
                    <label for="login" >{{ name_server }}/user/{{ form_login_search.login }}/</label>
                </li>   
            </ul>
            <ul>
                <li>
                    <input class="big_button" type="submit" name="login_search" value="Найти">
                </li>
            </ul>
        </form>
        <p>Или другие данные</p>
        <form action="" method="POST" autocomplete="off" id="form_data_search">
            {% csrf_token %}
            {{ form_data_search.country_id }}
            {{ form_data_search.region_id }}
            {{ form_data_search.district_id }}
            {{ form_data_search.city_id }}
            <div id="left_box">
                <ul>
                    <li class="input">
                        <label for="name">{{ form_data_search.name.label }}</label>
                        {{ form_data_search.name }}
                    </li>
                    <li class="input">
                        <label for="family">{{ form_data_search.family.label }}</label>
                        {{ form_data_search.family }}
                    </li>
                    <li class="input">
                        <label for="email">{{ form_data_search.email.label }}</label>
                        {{ form_data_search.email }}
                    </li>
                    <li class="input">
                        <label for="telephone">{{ form_data_search.telephone.label }}</label>
                        {{ form_data_search.telephone }}
                    </li>
                </ul>
            </div>
            <div id="right_box">
                <ul>
                    <li class="input">
                        <label for="country">{{ form_data_search.country.label }}</label>
                        {{ form_data_search.country }}
                    </li>
                    <li class="input">
                        <label for="region">{{ form_data_search.region.label }}</label>
                        {{ form_data_search.region }}
                    </li>
                    <li class="input">
                        <label for="district">{{ form_data_search.district.label }}</label>
                        {{ form_data_search.district }}
                    </li>
                    <li class="input">
                        <label for="city">{{ form_data_search.city.label }}</label>
                        {{ form_data_search.city }}
                    </li>
                    <li class="input">
                        <label for="street">{{ form_data_search.street.label }}</label>
                        {{ form_data_search.street }}
                    </li>
                </ul>
            </div>
            <div id="bottom_box">
                <ul>
                    <li>
                        <input class="big_button" type="submit" name="data_search" value="Найти">
                    </li>
                    <li>
                        <a class="big_button" href="/partner/{{ partner.unp_unn }}/">Отмена</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <form action="" method="POST" autocomplete="off" id="form_user_add">
        {% csrf_token %}
        {% if found_user %}
        <div class="header">
            <h3>Найденый пользователь</h3>
        </div>
        <div class="find_user_info">
            <a class="big_button" href="/user/{{ found_user.login }}/">
                <img src="{% static 'user/images/user.png'%}" />
                {{ found_user.login }}
            </a>
            {% if found_user in partner.user.all %}
            <input type="checkbox" name="{{ found_user.login  }}">
            {% endif %}
            <p>{{ found_user.name }} {{ found_user.family }}</p>
        </div>
        <input class="big_button" type="submit" name="user_add" value="Добавить" disabled="" />
        {% elif found_users %}
        <div class="header">
            <h3>Найденые пользователи</h3>
        </div>
        {% for found_user in found_users %}
        <div class="find_user_info">
            <a class="big_button" href="/user/{{ found_user.login }}/">
                <img src="{% static 'user/images/user.png'%}" />
                {{ found_user.login }}
            </a>
            {% if found_user in partner.user.all %}
            <input type="checkbox" name="{{ found_user.login  }}">
            {% endif %}
            <p>{{ found_user.name }} {{ found_user.family }}</p>
        </div>
        {% endfor %}
        <div id="add">
            <input class="big_button" type="submit" name="user_add" value="Добавить" disabled="" />  
        </div>
        {% endif %}
    </form>
</div>
{% endblock partner %}
{% block script %}
<script src="{% static 'soyzniki/js/custom_input.min.js'%}"></script>
<script src="{% static 'partner/js/search_user.js' %}"></script>
{% endblock script %}

