{% extends 'admin/change_form.html' %}
{% load staticfiles %}

{% block admin_change_form_document_ready %}
<script type="text/javascript" src="{% static 'admin/tinymce/jquery.tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/tinymce/tinymce.min.js' %}"></script>
<script>tinymce.init({
    mode:"textareas",
    plugins : "lists,table,link",
    theme_advanced_resizing : true
});</script>

  <script type="text/javascript"
  id="django-admin-form-add-constants"
  src="{% static 'admin/js/change_form.js' %}"
  {% if adminform and add %}
  data-model-name="{{ opts.model_name }}"
  {% endif %}>
</script>
{% endblock %}