#contact {
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

#contact img {
    max-height: none;
}

.header {
    flex-basis: 100%;
}

#info {
    flex-basis: 50%;
    padding-right: 5px;
}

#form {
    flex-basis: 50%;
    padding-left: 5px;
}

#form .input * {
    width: 100%;
}

#form .input textarea {
    height: 150px;
}

#map {
    flex-basis: 100%;
    height: 300px;
}

.contact_block {
    margin: 20px 0;
}

.contact_block h3 {
    margin-bottom: 10px
}

@media all and (max-width: 900px) {
    #contact {
        margin-right: 0;
    }
    #map {
        padding: 10px;
    }
}

@media all and (max-width: 620px) {
    #info {
        flex-basis: 100%;
        text-align: center;
        padding-right: 0;
    }

    #form {
        flex-basis: 100%;
        text-align: center;
        padding-left: 0;
    }

    #form .input * {
        width: 300px;
        margin: auto;
    }
}