{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>Союзники {{ country.name_ru }}</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'soyzniki/css/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'soyzniki/css/MarkerCluster.Default.css' %}">
<link rel="stylesheet" href="{% static 'soyzniki/css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'map/css/map.css'%}">
<script type="text/javascript">var ACTIV_COUNTRY = '{{ country.name_en }}';</script>
<script type="text/javascript" id="ready">
    history.pushState('', '', '{{ response_url }}');
    var request_data = {
        {% if find_region %}
        region: {name: '{{ find_region.name_en }}', id: {{ find_region.id }}},
        {% else %}
        region: {name: false, id: 0},
        {% endif %}
        {% if search %}
        search: '{{ search }}',
        {% else %}
        search: false,
        {% endif %}
        {% if servis %}
        point: '{{ servis.name_en }}'
        {% else %}
        point: false,
        {% endif %}
    }
    var arr = new Array(
        0,1);
    if (window.localStorage[ACTIV_COUNTRY] === undefined) {
        window.localStorage.clear();
        window.localStorage.setItem(ACTIV_COUNTRY, arr)
    }
    console.log(window.localStorage[ACTIV_COUNTRY]);
    // document.getElementById('ready').remove();
    
</script>
{% endblock style %}
{% block reclama %}{% endblock reclama %}
{% block map %}
<div id="map_page">
    <div id="map" class="map"></div>
    <div id="open_button" class="close">
        <img src="{% static 'home/images/country.meny.svg' %}" alt="" />
    </div>
    <div id="leftBar" class="close">
        <div id="logo_2">
            <a href="/">
                <img src="{% static 'soyzniki/images/logo.min.svg'%}" alt=""/>
            </a>
        </div>
        <div id="icons">
            <ul>
                {% for servis in services %}
                <li id="{{ servis.name_en }}">                
                    <img src="/media/{{ servis.icon }}">
                    <p>{{servis.name_ru|upper}}</p>
                    <div class="mask">{% comment %}
                        <a href="/map/{{ country.name_en }}/{{ servis.name_en }}/"></a>{% endcomment %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="right_bar">
        <ul>
            <li class="right_icon" id="regions" title="Регионы">
                <img src="{% static 'map/images/regions.svg' %}" alt="regions">
                <div id="filter_region">
                    <h3>Выберите регион</h3>
                    <select name="region_filter" id="region_filter">
                        <option selected=""></option>
                        {% if regions %}
                        {% for region in regions %}
                        <option vlaue="{{ region.id }}">{{ region.name_ru }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>

            </li>
            <li class="right_icon" id="passenger_transport" title="легковой транспорт">
                <img src="{% static 'map/images/passenger_transport.svg' %}" alt="passenger_transport">
            </li>
            <li class="right_icon" id="freight_transport" title="грузовой транспорт">
                <img src="{% static 'map/images/freight_transport.svg' %}" alt="freight_transport">
            </li>
            <li class="right_icon" id="position" title="мое местоположение">
                <img src="{% static 'map/images/position.svg' %}" alt="position">
            </li>
        </ul>
    </div>
</div>
{% endblock map %}
{% block footer %}{% endblock footer %}
{% block script %}
<script src="{% static 'soyzniki/js/leaflet-src.js'%}"></script>
<script src="{% static 'soyzniki/js/jquery.min.js'%}"></script>
<script src="{% static 'soyzniki/js/markersCluster.js'%}"></script>
<script src="{% static 'soyzniki/js/jquery.cookie.js'%}"></script>
<script src="{% static 'soyzniki/js/device.min.js'%}"></script>
<script src="{% static 'map/js/new_map.js' %}"></script>
{% endblock script %}